
<div class="game">
  <%= address %>,
  <%= zip %> -
  <%= _.size(game_users) %> participants

  <% _.each(game_users, function(game_user){ %>
    <p><%= game_user.name %></p>
  <% }); %>
  <form class="join-game" data-id="<%=id%>">
    <input type="submit" value="Join Game" />
  </form>

</div>
