

<% if (games.length > 0) { %>
  <h1>Current Games</h1>
  <% for(var i=0;i<games.length;i++){ %>
    <div class="game">
      <%= games[i].address %>,
      <%= games[i].zip %> -
      <%= _.size(games[i].game_users) %> participants

      <% _.each(games[i].game_users, function(game_user){ %>
        <p><%= game_user.name %></p>
      <% }); %>
      <form class="join-game" data-id="<%=games[i].id%>">
        <select name="user_id">
          <% _.each(users, function(user){ %>
            <option value=""></option>
            <option value="new_user">New User...</option>
            <option value="<%= user.id %>"><%=user.name%></option>
          <% }); %>
        </select>
        <input type="submit" value="Join Game" />
      </form>

    </div>
  <% } %>
<% } %>


<h1> Start a new Game </h1>

<table id="games-table">
  <tr>
    <th>Address</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Game</a>
