
<h1> <%= game.address %>, <%= game.zip %> </h1>

<div id="stores">
  <h2> Restaurants (<%= _.size(game.game_restaurants) %>) </h2>
  <% _.each( _.sortBy(game.game_restaurants, function(gr){return gr.name.toString().toLowerCase()}), function(game_restaurant){ %>
    <a href="#"><%= game_restaurant.name %></a>
  <% }); %>
</div>

<div id="participants">
  <h2> Participants (<%= _.size(game.game_users) %>) </h2>
  <% _.each(game.game_users, function(game_user){ %>
    <p> <%= game_user.name %></p>
  <% }); %>
</div>

