
<h1> <%= game.address %>, <%= game.zip %> </h1>

<div id="stores">
  <h2> Restaurants (<%= _.size(game.game_restaurants) %>) </h2>
  <% _.each(game.game_restaurants, function(game_restaurant){ %>
    <p> <%= game_restaurant.name %> </p>
  <% }); %>
</div>

<div id="participants">
  <h2> Participants (<%= _.size(game.game_users) %>) </h2>
  <% _.each(game.game_users, function(game_user){ %>
    <p> <%= game_user.name %></p>
  <% }); %>
<div>

<%= console.log(game) %>
<%= console.log(game.game_users) %>
<%= console.log(game.game_restaurants) %>


