<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @game.address %>
</p>

<p>
  <b>Zip:</b>
  <%= @game.zip %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
