<!DOCTYPE html>
<html>
<head>
  <title>FoodPicker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="flash">
    <% flash.each do |key, value| %>
      <span class="<%=key%>"> <%= value %></span>
    <% end %>
  </div>

  <div id="main-content">
    <%= yield %>
  </div>

</body>
</html>
